@charset "UTF-8";
@font-face {
  font-family: myHelveticaFont;
  src: url(../assets/fonts/HelveticaNeueLt.ttf);
}
@font-face {
  font-family: myHelveticaFontBold;
  src: url(../assets/fonts/HelveticaNeueBd.ttf);
}
body {
  font-family: myHelveticaFont, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 17px;
  margin-bottom: 50px;
  color: #0a3126;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .main-container {
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.logo-items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .logo-items {
    flex-direction: row;
  }
}

.header-items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .header-items {
    flex-direction: row;
    align-items: center;
  }
}

.header-item {
  color: #582C77;
  font-size: 21px;
  font-family: myHelveticaFont, Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px 0px;
}
@media only screen and (min-width: 768px) {
  .header-item {
    padding: 10px 15px;
    margin: 40px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .header-item:hover {
    background-color: #582C77;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
  }
}

.login-btn {
  background-image: url("../assets/images/button-pattern.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #582C77;
  color: white;
  width: 120px;
  height: 33px;
  padding: 15px 20px;
  font-size: 24px;
  width: auto;
}
@media only screen and (min-width: 576px) {
  .login-btn {
    width: 120px;
  }
}

.login-btn:hover {
  background-color: #3c1e52;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .hero-image-container {
    background-image: url("../assets/images/backdrop-right.png");
    background-position: right;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 992px) {
  .hero-image-container {
    flex-direction: row;
    padding: 50px;
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
@media only screen and (min-width: 576px) {
  .hero-text-container {
    margin-right: 100px;
  }
}

.hero-title {
  color: #582C77;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 45px;
  }
}

.hero-text {
  line-height: 30px;
}
@media only screen and (min-width: 576px) {
  .hero-text {
    font-size: 20px;
  }
}

.hero-image {
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  .hero-image {
    margin: 30px;
  }
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
@media only screen and (min-width: 992px) {
  .hero-image img {
    min-width: 400px;
  }
}

.primary-btn {
  background-image: url("../assets/images/button-pattern.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #582C77;
  color: white;
  width: 120px;
  height: 33px;
  padding: 15px 20px;
  font-size: 24px;
  width: 135px;
}

.primary-btn:hover {
  background-color: #3c1e52;
}

.cards-container {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .cards-container {
    margin-bottom: 100px;
  }
}

.cards-bg-img {
  display: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 450px;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .cards-bg-img {
    display: block;
  }
}

.cards-title {
  color: #582C77;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .cards-title {
    font-size: 45px;
  }
}

.cards-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media only screen and (min-width: 992px) {
  .cards-content-container {
    flex-direction: row;
  }
}

.card-container {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  z-index: 1;
  background-color: white;
  padding: 40px 20px 20px;
  margin: 20px 0;
}
@media only screen and (min-width: 576px) {
  .card-container {
    width: 340px;
  }
}
@media only screen and (min-width: 992px) {
  .card-container {
    margin: 0 20px;
  }
}

.card-container img {
  width: 50px;
  height: 50px;
}

.card-image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .card-title {
    font-size: 35px;
  }
}

.card-title-purple {
  color: #582C77;
}

.card-title-pink {
  color: #E6007E;
}

.card-subtitle {
  font-size: 17px;
}
@media only screen and (min-width: 768px) {
  .card-subtitle {
    font-size: 20px;
  }
}

.card-text {
  font-size: 15px;
  padding-left: 20px;
  color: #6e6d6d;
}
@media only screen and (min-width: 768px) {
  .card-text {
    font-size: 17px;
  }
}

.card-text p::before {
  content: "•";
  font-weight: bold;
  display: inline-block;
  width: 15px;
  margin-left: -18px;
}

.pink::before {
  color: #E6007E;
}

.purple::before {
  color: #582C77;
}

.card-btn {
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin: 30px -20px -20px;
}

.card-btn-purple {
  background-color: #582C77;
}

.card-btn-pink {
  background-color: #E6007E;
}

.card-btn-purple:hover {
  background-color: #3c1e52;
}

.card-btn-pink:hover {
  background-color: #b30062;
}

.review-container {
  padding: 30px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .review-container {
    max-width: 340px;
  }
}
@media only screen and (min-width: 768px) {
  .review-container {
    margin-bottom: 100px;
    padding: 150px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .review-container::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 33%;
    border-width: 40px;
    border-style: solid;
    border-color: transparent #E6007E #E6007E transparent;
  }
}

.review-text {
  position: relative;
  padding: 0 30px 30px;
  line-height: 30px;
}
@media only screen and (min-width: 576px) {
  .review-text {
    font-size: 20px;
  }
}

span {
  font-size: 30px;
  color: #582C77;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  span {
    font-size: 60px;
  }
}

.quotes-top {
  left: -25px;
}

.quotes-bottom {
  bottom: 22px;
  right: 0;
}

.review-name {
  color: #582C77;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .review-name {
    font-size: 25px;
  }
}

.help-cards-container {
  margin-bottom: 100px;
}

.help-cards-title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #582C77;
  font-size: 25px;
}
@media only screen and (min-width: 768px) {
  .help-cards-title {
    font-size: 45px;
  }
}

.help-cards-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 992px) {
  .help-cards-content-container {
    flex-direction: row;
  }
}

.help-card-container {
  box-shadow: rgba(0, 0, 0, 0.15) 6px 0px 23px 1px;
  padding: 20px 20px 50px 50px;
  position: relative;
  max-width: 360px;
  margin: 20px;
  height: auto;
}
@media only screen and (min-width: 992px) {
  .help-card-container {
    margin: 20px;
    min-width: 360px;
    height: 260px;
  }
}

.help-card-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 83%;
  width: 95%;
  border-left: 10px solid;
  border-bottom: 15px solid;
}

.help-card-container-purple::after {
  border-color: transparent transparent #582C77 #582C77;
}

.help-card-container-purple:hover {
  background-color: #582C77;
}
.help-card-container-purple:hover .help-card-text,
.help-card-container-purple:hover .help-card-title,
.help-card-container-purple:hover .view-more-btn,
.help-card-container-purple:hover .view-more-btn::after {
  color: white;
}

.help-card-container-pink::after {
  border-color: transparent transparent #E6007E #E6007E;
}

.help-card-container-pink:hover {
  background-color: #E6007E;
}
.help-card-container-pink:hover .help-card-text,
.help-card-container-pink:hover .help-card-title,
.help-card-container-pink:hover .view-more-btn,
.help-card-container-pink:hover .view-more-btn::after {
  color: white;
}

.help-card-container-purple-light::after {
  border-color: transparent transparent #92278F #92278F;
}

.help-card-container-purple-light:hover {
  background-color: #92278F;
}
.help-card-container-purple-light:hover .help-card-text,
.help-card-container-purple-light:hover .help-card-title,
.help-card-container-purple-light:hover .view-more-btn,
.help-card-container-purple-light:hover .view-more-btn::after {
  color: white;
}

.help-card-title {
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .help-card-title {
    font-size: 25px;
  }
}

.help-card-title-pink {
  color: #E6007E;
}

.help-card-title-purple {
  color: #582C77;
}

.help-card-text {
  color: #504b4b;
  margin-bottom: 40px;
  line-height: 30px;
}
@media only screen and (min-width: 576px) {
  .help-card-text {
    font-size: 20px;
  }
}

#help-card-text-3 {
  margin-bottom: 18px;
}

.view-more-btn {
  text-transform: uppercase;
  color: #E6007E;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 100px;
  font-family: myHelveticaFontBold, Helvetica, Arial, "Lucida Grande", sans-serif;
  z-index: 100;
}
.view-more-btn::after {
  content: " ➜";
  white-space: pre;
  color: #E6007E;
  font-weight: bold;
  font-size: 15px;
}

.announcements-container {
  background-color: #582C77;
}
@media only screen and (min-width: 768px) {
  .announcements-container {
    padding: 0 50px 100px;
  }
}

.announcements-title {
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  .announcements-title {
    font-size: 45px;
    padding-top: 80px;
  }
}

.announcements-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .announcements-content-container {
    flex-direction: row;
  }
}

.announcement-container {
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 30px 20px 60px 30px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .announcement-container {
    min-width: 360px;
    max-width: 360px;
  }
}

.announcement-date {
  color: #E6007E;
  font-weight: 600;
}

.announcement-title {
  color: #582C77;
}
@media only screen and (min-width: 768px) {
  .announcement-title {
    font-size: 30px;
  }
}

.announcement-text {
  line-height: 30px;
}
@media only screen and (min-width: 576px) {
  .announcement-text {
    font-size: 20px;
  }
}

.read-more-btn {
  text-transform: uppercase;
  color: #E6007E;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  margin: 30px 0;
  font-family: myHelveticaFontBold, Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px 15px;
}
.read-more-btn::after {
  content: " ➜";
  white-space: pre;
  color: #E6007E;
  font-weight: bold;
  font-size: 15px;
}

.announcement-container:hover {
  background-color: #E6007E;
  color: white;
}
.announcement-container:hover .read-more-btn,
.announcement-container:hover .read-more-btn::after {
  color: white;
  background-color: #E6007E;
  padding: 10px 15px;
  border-radius: 10px;
}
.announcement-container:hover .announcement-date {
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 576px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-left-container {
  background-color: #E6007E;
  padding: 50px;
}

.footer-links {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    margin: 20px -13px;
  }
}

.footer-link {
  margin: 0 30px 0 0;
  font-weight: 600;
  color: #dbd9d9;
  padding: 5px 0;
}
@media only screen and (min-width: 768px) {
  .footer-link {
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-link:hover {
    color: #E6007E;
    background-color: #dbd9d9;
    border-radius: 10px;
    padding: 10px 15px;
  }
}

.footer-text {
  color: #dbd9d9;
}

.copyright {
  margin-top: 30px;
  color: #dbd9d9;
}

.footer-right-container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
@media only screen and (min-width: 576px) {
  .footer-right-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1260px) {
  .footer-right-container {
    flex-direction: row;
    padding: 100px;
  }
}

.footer-right-container a {
  margin: 20px;
}/*# sourceMappingURL=style.css.map */