@use '../abstracts/index' as *;

//Footer is divided in 2 parts (left and right) and that is the main container
.footer-container {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $break-s) {
        flex-direction: row;
}
}

.footer-left-container {
    background-color: $brand-color-pink;
    padding: 50px;
}

.footer-links {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $break-m) {
        flex-direction: row;
        margin: 20px -13px;
}
}

.footer-link {
    margin: 0 30px 0 0;
    font-weight: 600;
    color: $color-gray;
    padding: 5px 0;
    @media only screen and (min-width: $break-m) {
        padding: 10px 15px;
}
}

.footer-link:hover {
    @media only screen and (min-width: $break-m) {
        color: $brand-color-pink;
        background-color: $color-gray;
        border-radius: 10px;
        padding: 10px 15px;
}
}

.footer-text {
    color: $color-gray;
}

.copyright {
    margin-top: 30px;
    color: $color-gray;
}


.footer-right-container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;    
    @media only screen and (min-width: $break-s) {
        flex-direction: column;
        flex-wrap: nowrap;
}
    @media only screen and (min-width: $break-xl) {
        flex-direction: row;
        padding: 100px;
}
}

.footer-right-container a {
    margin: 20px;
}
