@use '../abstracts/index' as *;


.hero-image-container {
    border: 1px red solid;
    background-image: url('../assets/images/backdrop-right.png');
}

.hero-title {
    color: $brand-color; 
    font-family: Georgia, 'Times New Roman', Times, serif
}




.primary-btn {
    @include btn($brand-color);
    font-size: 20px;
}