@mixin btn ($brand-color) {
  background-image: url('../assets/images/button-pattern.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $brand-color;
  color: white;
  width: 120px;
  height: 33px;
  padding: 15px 20px;
  font-size: 24px;
}

@mixin btn-more ($brand-color-pink) {
  text-transform: uppercase;
  color: $brand-color-pink;
  font-weight: 600;
  font-size: 12px;
  &::after{
    content: "\2000 \279C";
    white-space: pre;
    color: $brand-color-pink;
    font-weight: bold;
    font-size: 15px;
  
  }

}

@mixin text-line-height-and-size {
  font-size: 20px;
  line-height: 30px;
} 

