

// These are my breakpoints for the screen sizes
//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;
$break-xxl: 1740px;


//Colours
$brand-color: #582C77;
$brand-color-purple-light: #92278F;
$brand-color-pink: #E6007E;
$color-gray: rgb(219, 217, 217);
$color-gray-text: #6e6d6d;