

// These are my breakpoints for the screen sizes
//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;
$break-xxl: 1740px;


//Colours
$brand-color: #582C77;
